<h3>Orbit Report</h3>
<table>
   <tr class="header-row">
      <th (click)="sort('name')" class="sortable">Name</th>
      <th (click)= "sort('type')" class="sortable">Type</th>
      <th>Operational</th>
      <th>Orbit Type</th>
      <th>Launch Date</th>
   </tr>
      <!-- TODO: put <tr *ngFor=""></tr> here -->
   <tr *ngFor="let item of satellites">
       <td> {{item.name}}</td>
       <td [class.warning]="item.shouldShowWarning()">{{item.type}}</td>
       <td> {{item.operational}}</td>
       <td> {{item.orbitType}}</td>
       <td> {{item.launchDate}}</td>
   </tr>
</table>